{
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "proseWrap": "always",
  "bracketSpacing": false,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "semi": true,
  "jsxSingleQuote": false
}
